<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/template/head.ejs') %> 
</head>
  <body class="parallax">
    
    <%- include('partials/content/header.ejs') %>

    <main>
      
    </main>
      


    <footer>

    </footer>


    <%- include('partials/template/script.ejs')%> 
  </body>
</html>