<footer class="d-flex align-items-center justify-content-center">
      
    <div class="footerContainer d-flex mt-2">
      <a href="https://open.spotify.com/artist/2WjvvwAX0mdWwq3aFuUdtc" target="_blank" class="btn btn-outline-secondary noMargin mr-2 mb-2" style="border-radius: 10%;"><img src="../images/spotify.png" alt="" style="border-radius: 10%; height: 35px;"></a>
      <a href="https://music.apple.com/us/artist/rebelution/159890020" target="_blank" class="btn btn-outline-secondary noMargin mr-2 mb-2" style="border-radius: 10%;"><img src="../images/apple.jpeg" alt="" style="border-radius: 10%; height: 35px;"></a>
    </div>
    <div class="m-2">
      <h6> © Reggae Designs 2021 All Rights Reserved.</h6>
    </div>
  </footer>