<header>
    <nav class="navbar navbar-dark blue d-flex">
        <a class="navbar-brand col-2" href="#">
          <img src="../images/name.png" width="200" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <ul class="nav nav-fill col-md-9 col-sm-12 text-white">
            <li class="nav-item">
              <a class="nav-link textGrey h4" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle textGrey h4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Albums</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item h5" href="/album/couragetogrow">Courage to Grow</a>
                    <a class="dropdown-item h5" href="/album/brightsideoflife">Bright Side of Life</a>
                    <a class="dropdown-item h5" href="/album/peaceofmind">Peace of Mind</a>
                    <a class="dropdown-item h5" href="/album/countmein">Count Me In</a>
                    <a class="dropdown-item h5" href="/album/fallingintoplace">Falling Into Place</a>
                    <a class="dropdown-item h5" href="/album/freerein">Free Rein</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item h5" href="/albums">All Albums</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link textGrey h4" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textGrey h4" href="/feedback" tabindex="-1">Chat Room</a>
            </li>
          </ul>
      </nav>
</header>